<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="title">Trending Movies : {{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
        <script>
            let form = document.getElementById("dropdown");
            form.reset();
            function submitForm() {
                form.submit();
            }
        </script>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% block content %}
            <div>
                {% for message in get_flashed_messages() %}
                    <h3 style="color:red;">{{ message }}</h3>
                {% endfor %}
            
                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
        {% endif %} 
        {% endwith %}
        {% if valid == None %}
            <form method="POST" action="/validate">
                <button id="button" name="validate" value="sign_up" onclick="submitForm()">
                    Sign Up
                </button>
                <button id="button" name="validate" value="log_in" onclick="submitForm()">
                    Log In
                </button>
            </form>
        {% endif %}
        {% if valid != None %}
            <form method="POST" action="/validate">
                <button id="button" name="validate" value="log_out" onclick="submitForm()">
                    Log Out
                </button>
            </form>
            <h1 id="title">Welcome, <span style="color: rgb(236, 155, 155);">{{valid}}</span></h1>
        {% endif %}
        <h1 id="title">Trending Movies This Week</h1>
        <h3 id="feat">Featuring</h3>
        {% if title %}
            <div id="name">
                <h2>{{title}}</h2>
                <h3>{{tagline}}</h3>
            </div>
            <div class="poster">
                <img src={{ image }}>
                <h4>{{genres}}</h4>
            </div>
            <div style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{backImage}}); 
                        float: left;
                        width: 70%;
                        justify-content: center;
                        align-items: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50px;">
                <div class="rank">
                    <h2># {{ number }}</h2>
                </div>
                <div class="summary">
                    <h2>{{ info }}</h2>
                </div>
            </div>
            <div class="wiki">
                <h4><a href={{ link }} target="_blank">Wikipedia</a></h4>
            </div>
            <div class="specific">
                <h3>View a Specific Movie Trending this Week!</h3>
                <form id= "dropdown" method="POST" action="/direct_movie">
                    <select name="movie_rank">
                        <option value="empty">Select A Movie</option>
                        {% for i in range(20) %}
                            <option value= {{i}} >#{{i + 1}} - {{ movieList['results'][i]['original_title'] }}</option>
                        {% endfor %}
                    </select>
                    <button id="button" onclick="submitForm()">View</button>
                </form>
            <div>
            {% if valid == None %}
            <div id="name"><h2>Sign Up / Log In above to view and leave a review!</h2></div>
            {% endif %}
            {% if valid != None %}
                <div id="postReview">
                    <br><br>
                    <form method="POST" action="/addReviewMain">
                        <input type="text" name="movieID" value="{{id}}" readonly>
                        <h1 id="title">Rating (out of 10):</h1><br>
                        <input type="text" name="rating">
                        <h1 id="title">Comments:</h1><br>
                        <input type="text" name="comments">
                        <input id="button" type="submit" value="Post">
                    </form>
                </div>
                {% if reviews != None %}
                    <h1>User Reviews:</h1>
                        {% for r in reviews %}
                            <h2>User: {{r[0]}}</h2>
                            <h3>Rating: {{r[1]}}</h3>
                            <h4>Comments: {{r[2]}}</h4>
                        {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="footer">
            <p>&copy Victor Ekpenyong 2022</p>
            <p>...not really copyrighted, just sounded cool</p>
        </div>
    </body>
</html>