<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="title">Trending Movies : {{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
        <script>
            let form = document.getElementById("dropdown");
            form.reset();
            function submitForm() {
                form.submit();
            }
        </script>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% block content %}
            <div>
                {% for message in get_flashed_messages() %}
                    <h3 style="color:red;">{{ message }}</h3>
                {% endfor %}
            
                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
        {% endif %} 
        {% endwith %}
        <form method="POST" action="/logOut">
            <input id="button" type="submit" value="Log Out">
        </form>
        <h1 id="title">Welcome, <span style="color: rgb(236, 155, 155);">{{valid}}</span></h1>
        <h1 id="title">Trending Movies This Week</h1>
        <h3 id="feat">Featuring</h3>
        {% if title %}
            <div id="name">
                <h2>{{title}}</h2>
                <h3>{{tagline}}</h3>
            </div>
            <div class="poster">
                <img src={{ image }}>
                <h4>{{genres}}</h4>
            </div>
            <div style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{backImage}}); 
                        float: left;
                        width: 70%;
                        justify-content: center;
                        align-items: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50px;">
                <div class="rank">
                    <h2># {{ number }}</h2>
                </div>
                <div class="summary">
                    <h2>{{ info }}</h2>
                </div>
            </div>
            <div class="wiki">
                <h4><a href={{ link }} target="_blank">Wikipedia</a></h4>
            </div>
            <div class="specific">
                <h3>View a Specific Movie Trending this Week!</h3>
                <form id= "dropdown" method="POST" action="/direct_movie">
                    <select name="movie_rank">
                        <option value="empty">Select A Movie</option>
                        {% for i in range(20) %}
                            <option value= {{i}} >#{{i + 1}} - {{ movieList['results'][i]['original_title'] }}</option>
                        {% endfor %}
                    </select>
                    <button id="button" onclick="submitForm()">View</button>
                </form>
            </div>
            <div id="postReview">
                <br><br>
                {% if reviews == None %}
                    <div id="name"><h2>Be The First To Post A Review Below</h2></div>
                {% else %}
                    <div id="name"><h2>Post A Review Below</h2></div>
                {% endif %}
                <form method="POST" action="/addReviewMain">
                    <input type="text" name="movieID" value="{{id}}" readonly><br>
                    <select name="rating">
                        <option value="empty">Rating (out of 10):</option>
                        {% for i in range(11) %}
                            <option value= "{{i}} / 10" >{{i}} / 10</option>
                        {% endfor %}
                    </select><br>
                    <h1 id="title">Comments:</h1>
                    <textarea name="comments"></textarea><br>
                    <input type="hidden" name="date" value="" id="reviewDate">
                    <input id="button" type="submit" value="Post">
                </form>
            </div>
            {% if reviews != None %}
                <div id="name"><h2>User Reviews:</h2></div>
                <div id="emptyDiv"></div>
                <div id="reviewsBox">
                    {% for r in reviews %}
                        <h3>{{r[4]}}</h3>
                        <h1 id="title">User: <span style="color: rgb(236, 155, 155);">{{r[0]}}</span></h1>
                        <h1 id="title">Rating: <span style="color: rgb(236, 155, 155);">{{r[1]}}</span></h1>
                        <h1 id="title">Comments: <span style="color: rgb(236, 155, 155);">{{r[2]}}</span></h1>
                        {% if r[0] == valid %}
                            <form id="dropdown" method="POST" action="/deleteReviewMain">
                                <button id="button" name="reviewToDelete" value="[{{r}}]" onclick="submitForm()">Delete</button>
                            </form>
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
                <div id="emptyDiv"></div>
            {% endif %}
        {% endif %}
        <div class="footer">
            <p>&copy Victor Ekpenyong 2022</p>
            <p>...not really copyrighted, just sounded cool</p>
        </div>
        <script>
            reviewDate = document.getElementById("reviewDate");
            let d = new Date();
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

            let day = days[d.getDay()];

            let month = months[d.getMonth()];
            let year = d.getFullYear();
            let date = d.getDate();
            let time = d.toLocaleTimeString();

            reviewDate.value = `${day} ${month} ${date}, ${year} - ${time}`
        </script>
    </body>
</html>