<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="title">Trending Movies : {{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% block content %}
            <div>
                {% for message in get_flashed_messages() %}
                    <h3 style="color:red;">{{ message }}</h3>
                {% endfor %}
            
                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
        {% endif %} 
        {% endwith %}
        <div id="signup">
            <h1 id="title">Trending Movies This Week</h1>
            <div id="name2"><h2>Log In To Continue</h2></div>
            <form method="POST" action="/validateLogin">
                <h1 id="title">Username:</h1>
                <input type="text" name="UserName" required><br>
                <h1 id="title">Password:</h1>
                <input type="password" name="PassWord" id="pass" required><br>
                <br>
                <input id="button" type="submit" value="Log In">
            </form><br>
            <h1 id="title">Not registerd? Click below</h1>
            <form method="POST" action="/signUp">
                <input type="submit" id="button" value="Sign Up">
            </form>
        </div>
    </body>
</html>