<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="title">Trending Movies : {{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    </head>
    <body>
        <div>
            <h1>Log In</h1>
            <form method="POST" action="/validateLogin">
                <h3>UserName</h3>
                <input type="text" name="UserName">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>