<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="title">Trending Movies : {{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% block content %}
            <div>
                {% for message in get_flashed_messages() %}
                    <h3 style="color:red;">{{ message }}</h3>
                {% endfor %}
            
                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
        {% endif %} 
        {% endwith %}
        <form method="POST" action="/logOut">
            <input id="button" type="submit" value="Log Out">
        </form>
        <h1 id="title">Welcome, <span style="color: rgb(236, 155, 155);">{{valid}}</span></h1>
        <h1 id="title">Trending Movies This Week</h1>
        {% if title %}
            <div id="name2">
                <h2>{{title}}</h2>
                <h3>{{tagline}}</h3>
            </div>
            <div class="poster">
                <img src={{ image }}>
                <h4>{{genres}}</h4>
            </div>
            <div style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{backImage}}); 
                        float: left;
                        width: 70%;
                        justify-content: center;
                        align-items: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50px;">
            <div class="rank">
                <h2># {{ number }}</h2>
            </div>
            <div class="summary">
                <h2>{{ info }}</h2>
            </div>
            </div>
            <div class="wiki">
                <h4><a href={{ link }} target="_blank">Wikipedia</a></h4>
            </div>
            <div id="postReview">
                <br><br>
                <div id="name"><h2>Post A Review Below</h2></div>
                <form method="POST" action="/addReviewSpecific">
                    <input type="text" name="movieID" value="{{id}}" readonly><br>
                    <select name="rating">
                        <option value="empty">Rating (out of 10):</option>
                        {% for i in range(11) %}
                            <option value= "{{i}} / 10" >{{i}} / 10</option>
                        {% endfor %}
                    </select><br>
                    <h1 id="title">Comments:</h1>
                    <textarea name="comments"></textarea><br>
                    <input id="button" type="submit" value="Post">
                </form>
            </div>
            {% if reviews != None %}
                <div id="name"><h2>User Reviews:</h2></div>
                <div id="emptyDiv"></div>
                <div id="reviewsBox">
                    {% for r in reviews %}
                            <h1 id="title">User: <span style="color: rgb(236, 155, 155);">{{r[0]}}</span></h1>
                            <h1 id="title">Rating: <span style="color: rgb(236, 155, 155);">{{r[1]}}</span></h1>
                            <h1 id="title">Comments: <span style="color: rgb(236, 155, 155);">{{r[2]}}</span></h1>
                            <br>
                    {% endfor %}
                </div>
                <div id="emptyDiv"></div>
            {% endif %}
            <div class="specific">
                <form method="GET" action="/featuring">
                    <input id="button" type="submit" value="Go Back To Featured Page!">
                </form>
            <div>
        {% endif %}
        <div class="footer">
            <p>&copy Victor Ekpenyong 2022</p>
            <p>...not really copyrighted, just sounded cool</p>
        </div>
    </body>
</html>